<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.mybatisplus.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.wj.mybatisplus.entity.Student">
        <id property="studentId" column="student_id" jdbcType="INTEGER"/>
        <result property="studentName" column="student_name" jdbcType="VARCHAR"/>
        <result property="studentAccount" column="student_account" jdbcType="VARCHAR"/>
        <result property="studentGender" column="student_gender" jdbcType="INTEGER"/>
        <result property="studentEmail" column="student_email" jdbcType="VARCHAR"/>
        <result property="studentPwd" column="student_pwd" jdbcType="VARCHAR"/>
        <result property="classeId" column="classe_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        student_id
        ,student_name,student_account,
        student_gender,student_email,student_pwd,
        classe_id
    </sql>

</mapper>
